#items .container .content {
  background-color: var(--colors);
  padding: clamp(2rem, 4vw, 4rem);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: 3rem;
}
#items .container .content .items-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
@media (min-width: 768px) {
  #items .container .content .items-header {
    justify-content: space-between;
  }
}
#items .container .content .items-header .nav-item {
  font-family: var(--primarytext);
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: white;
  cursor: pointer;
}
@media (min-width: 768px) {
  #items .container .content .items-header .nav-item {
    font-size: 1.1rem;
  }
}
#items .container .content .items-header .nav-item.active {
  border-bottom: 1px solid white;
}
#items .container .content .content-wrapper {
  display: none;
}
#items .container .content .content-wrapper#tjampuhan-content {
  display: flex;
}
#items .container .content .content-wrapper {
  gap: 4rem;
  flex-direction: column-reverse;
  justify-content: start;
  align-items: stretch;
}
@media (min-width: 768px) {
  #items .container .content .content-wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }
  #items .container .content .content-wrapper .images {
    width: 50%;
  }
  #items .container .content .content-wrapper .description-content {
    width: 50%;
  }
}
#items .container .content .content-wrapper .images {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: 1rem;
}
#items .container .content .content-wrapper .images img {
  width: 100%;
  object-fit: cover;
}
#items .container .content .content-wrapper .images img.image-1 {
  aspect-ratio: 9/11;
}
#items .container .content .content-wrapper .images img.image-2 {
  aspect-ratio: 16/9;
}
#items .container .content .content-wrapper .description-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 2rem;
}
#items .container .content .content-wrapper .description-content .title {
  font-family: var(--primarytext);
  color: white;
  font-size: 2rem;
}
@media (min-width: 768px) {
  #items .container .content .content-wrapper .description-content .title {
    font-size: 4rem;
  }
}
#items .container .content .content-wrapper .description-content .description {
  font-family: var(--subtext);
  color: white;
  line-height: 1.7;
}
#items .container .content .content-wrapper .description-content .ctas {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
#items .container .content .content-wrapper .description-content .ctas .cta {
  text-decoration: none;
  color: var(--colors);
  text-transform: uppercase;
  font-family: var(--primarytext);
  background-color: var(--color3);
  font-size: 1rem;
  padding: 12px 32px;
}

/*# sourceMappingURL=items.css.map */
